In [2]:
import pandas as pd
import json
import requests
import re
import psycopg2
import glob
import time

#Get Data From JSON File. Put Into Database.

###1. Import Data
notes to self: if file is empty, or json object is incomplete, it may get mad. What can I do about this?

A. ONE FILE

B. ALL FILES

In [3]:
#time.sleep(2000)
#all the tweet files from one week
tweet_files= glob.glob('../../../../../Desktop/toomanytweets/*json')

In [4]:
def json_to_df(filename):
    '''Takes in a json file. Returns a pandas dataframe'''
    with open(filename, 'r') as f:
        l = f.readlines()

    data = [json.loads(s) for s in l]
    return pd.DataFrame(data)

#df_tweets = json_to_df(filename)

In [5]:
def get_mega_dataframe(filepath):
    '''Takes a filepath to a directory of json files for twitterdata
    Runs through all the files, reads them into a pandas dataframe, 
    and returns a mega-dataframe of all the json files appended together'''
    tweet_files= glob.glob(filepath)
    df = json_to_df(tweet_files[0])
    for tf in tweet_files[1:]:
        temp_df = json_to_df(tf)
        df = df.append(temp_df)      
    return df

df_tweets = get_mega_dataframe('../../../../../Desktop/toomanytweets/*json')

###2. Format Data to Put in Database

In [8]:
def extract_columns(df):
    '''Called by clean_text_for_sql. Takes in a pandas dataframe. Returns a smaller dataframe:
    Text, Coordinates, timestamp'''
    #only include rows with coordinates
    df = df[~df['coordinates'].isnull()]
    #make a new dataframe with coordinates, tweets, and timestamps
    df = df[['coordinates', 'text' ,'timestamp_ms']]
    #get a list of coordinates to break it into long and lat data
    coor = df.coordinates.tolist()
    #list of the longitude coordinates
    lons = [c['coordinates'][0] for c in coor]
    #list of the latitude coordinates 
    lats = [c['coordinates'][1] for c in coor]
    
    #turn lats and longs into panda series. Append them to the dataframe.
    df['lons'] = pd.Series(lons)
    df['lats'] = pd.Series(lats)
    df = df.drop('coordinates', 1)   
    return df

In [9]:
def clean_text_for_sql(df):
    '''Takes in a dataframe with a text column containing emoticons, ect. 
    Returns a dataframe where the text has been striped of punctuation and repeats
    Also reorders the columns to fit the order I want for SQL'''
    df = extract_columns(df)
    df['text'] = [re.sub('[^A-Za-z0-9]+', ' ',s)for s in df.text.tolist()]
    df.columns.tolist()          
    ordered_colums = [u'timestamp_ms',u'text', 'lats', 'lons' ]
    return df[ordered_colums]


df_ordered = clean_text_for_sql(df_tweets)

###3. Export The DF Into a  SQL Table

In [10]:
df_ordered.columns

Index([u'timestamp_ms', u'text', u'lats', u'lons'], dtype='object')

In [16]:
df_ordered.shape

(72023, 4)

In [15]:
df_twitter.shape

(71833, 4)

In [11]:
#drop rows if there are repeats 
df_twitter = df_ordered.drop_duplicates()

In [21]:
df_twitter.shape

(71833, 4)

In [22]:
df_twitter.to_csv('tweets_cleaned.csv', encoding = 'utf-8', index = False, header=False, if_exists ='append')

####Alternative method: Use SQLalchemy

In [23]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://clwilloughby:christy@localhost:5432/zipfiantwitter')
df_twitter.to_sql("tweetedBIGwk2", engine, if_exists='replace')
#when I do this, NOW THE THING HAS TO BE IN QUOTES. OOPS.

#FORMAT THE CSV IN SQL TO GET COORDINATES

In [24]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()

In [25]:
query = """ SELECT AddGeometryColumn('tweetedBIGwk2','geom',4326,'POINT',2);"""
c.execute(query)
conn.commit()
print 'done!'

done!

In [26]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()
query = """UPDATE "tweetedBIGwk2" SET geom = ST_SetSRID(ST_MakePoint(lons, lats), 4326);"""
c.execute(query)
conn.commit()            
print 'done!'

done!

In [28]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()
query = """SELECT UpdateGeometrySRID('sf_neighb', 'wkb_geometry', 4326);""" 
c.execute(query)
conn.commit() 
print 'done'

done

In [29]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()
query = """ SELECT points.*, polys.geoid10
                INTO tweeted_neighb_wk2 
                FROM sf_neighb polys
                JOIN "tweetedBIGwk2" points 
                ON ST_Within(points.geom,polys.wkb_geometry);"""
c.execute(query)
conn.commit()
conn.close()
print 'done!'

done!

###Option 2: Send it to a CSV!

###Commands entered in postgress

```psql
CREATE DATABASE zipfiantwitter
\l```

Things became obnoxious and i changed things:

```sql
CREATE TABLE tweet(
    timestamp_ms bigint,
    text varchar(255),
    lats FLOAT,
    lons FLOAT
    );
    
COPY tweeting FROM '/Users/clwilloughby/Documents/root/repos/media_mapper/map_tests/postgress_exp/data_for_sql.csv' WITH (FORMAT CSV, DELIMETER ',');
```
   ```
   
If I need to change the column type:
```sql
ALTER COLUMN timestamp_ms SET DATA TYPE bigint ;
ALTER COLUMN presales TYPE numeric
```