In [140]:
import pandas as pd
import media_mapper as mm
import numpy as np
from sklearn.cluster import KMeans

In [141]:
###get dataframe
df = mm.pipeline.retrieve_sql_tweets('tweets_with_geoV6')

##get a count for every day of the week

In [142]:
df  =mm.pipeline.transform_timestamp(df, hour = True, DOW = True)

In [143]:
df['twt_cnt'] = 1

In [144]:
df = df.groupby(['geoid10','DOW']).agg(np.sum).reset_index().drop('id', 1)

In [145]:
def dummy_time_variables(df, dow = False, hr = False):
    '''Takes a dataframe with a dow and or hour column. Adds dummy variables relating to day of week and or hour. 
    Returns new dataframe.'''
    if dow == True:
        dfdow = pd.get_dummies(df.DOW, prefix = 'dow')
        dfdow.drop('dow_0', 1, inplace = True)
        if hr == False:
            dfdow['geoid'] = df['geoid10', 'twt_cnt']
            return dfdow
        else: pass 
    if hr == True:
        dfhour = pd.get_dummies(df.hour, prefix = 'hr')
        dfhour.drop('hr_0', 1, inplace = True)
        dfhour['geoid'] = df['geoid10']
        dfhour['twt_cnt'] = df['twt_cnt']
        if dow == False:
            return dfhour
        else:
            df = pd.concat([dfdow,dfhour],axis = 1)
            return df

In [128]:
tdt = dummy_time_variables(df, dow = True, hr = True)

In [136]:
geoid = tdt.pop('geoid')

In [135]:
kmeans = KMeans(n_jobs = -1)

In [ ]:
kmeans.fit()

In [139]:
tdt.head()

,dow_1,dow_2,dow_3,dow_4,dow_5,dow_6,hr_1,hr_2,hr_3,hr_4,...,hr_15,hr_16,hr_17,hr_18,hr_19,hr_20,hr_21,hr_22,hr_23,twt_cnt
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
##silhouette coeffecient method to choose K