In [7]:
import pandas as pd
import numpy as np
import json
import psycopg2
import random

import string
import datetime
import csv
import media_mapper.pipeline as mmp

###Connect to database to get Tweets with Geometry

In [2]:
#retrieved right now from tweeted_neigh_wk2. So not all tweets.
df_tweet_shapes = mmp.retrieve_sql_tweets()

In [3]:
df_tweet_shapes.head()

,timestamp_ms,text,geoid10
0,1438896121923,ech75,060375760011015
1,1438847519615,Tf it s already 1,060378002022025
2,1438848499256,test,060750201001001
3,1438545172798,https t co scRjn8RVmU Office prank,060759804011003
4,1438545183785,Sunday fun day lake McSwain hot BBQ beer funti...,060816013003000

###Let's Get Time Formatted

In [40]:
df_tweet_shapes['times'] = df_tweet_shapes['timestamp_ms'].values.astype(int).astype('datetime64[ms]')
df_tweet_shapes['hour']= pd.DatetimeIndex(df_tweet_shapes["times"]).hour
df_tweet_shapes['DOW']= pd.DatetimeIndex(df_tweet_shapes["times"]).dayofweek
df_tweet_shapes['date']= pd.DatetimeIndex(df_tweet_shapes["times"]).date

In [43]:
df_tweet_shapes.head()

,timestamp_ms,count,text,geoid10,times,hour,DOW,date
0,1438896121923,1,[ech75],060375760011015,2015-08-06 21:22:01.923,21,3,2015-08-06
1,1438847519615,1,"[tf, alreadi, 1]",060378002022025,2015-08-06 07:51:59.615,7,3,2015-08-06
2,1438848499256,1,[test],060750201001001,2015-08-06 08:08:19.256,8,3,2015-08-06
3,1438545172798,1,"[https, co, scrjn8rvmu, offic, prank]",060759804011003,2015-08-02 19:52:52.798,19,6,2015-08-02
4,1438545183785,1,"[sunday, fun, day, lake, mcswain, hot, bbq, be...",060816013003000,2015-08-02 19:53:03.785,19,6,2015-08-02

##limit tweets to SF County Only

In [42]:
df_timetweet.head()

,timestamp_ms,count,text,geoid10,times,hour,DOW,date
1,1438147171326,1,"[u'cocktail', u'love', u'arlen', u'amaz', u'su...",60750171023004,2015-07-29 05:19:31.326,5,2,2015-07-29
2,1438147180701,1,"[u'http', 'co', u'djttj3rqj2']",60750208003005,2015-07-29 05:19:40.701,5,2,2015-07-29
3,1438147182264,1,"[u'close', u'graffiti', u'request', u'intersec...",60750207002000,2015-07-29 05:19:42.264,5,2,2015-07-29
4,1438147185252,1,"[u'close', u'graffiti', u'request', u'intersec...",60750208004004,2015-07-29 05:19:45.252,5,2,2015-07-29
6,1438147189241,1,"[u'marketstreet', u'powellstreet', u'goldeng',...",60750130004001,2015-07-29 05:19:49.241,5,2,2015-07-29

In [43]:
df.to_csv('data/tweet_with_time_wk1.csv')

In [5]:
df =pd.read_csv('data/intermediate_data/tweet_with_time_wk1.csv')

In [6]:
df.head()

,Unnamed: 0,timestamp_ms,count,text,geoid10,times,hour,DOW,date
0,1,1438147171326,1,"[u'cocktail', u'love', u'arlen', u'amaz', u'su...",60750171023004,2015-07-29 05:19:31.326,5,2,2015-07-29
1,2,1438147180701,1,"[u'http', 'co', u'djttj3rqj2']",60750208003005,2015-07-29 05:19:40.701,5,2,2015-07-29
2,3,1438147182264,1,"[u'close', u'graffiti', u'request', u'intersec...",60750207002000,2015-07-29 05:19:42.264,5,2,2015-07-29
3,4,1438147185252,1,"[u'close', u'graffiti', u'request', u'intersec...",60750208004004,2015-07-29 05:19:45.252,5,2,2015-07-29
4,6,1438147189241,1,"[u'marketstreet', u'powellstreet', u'goldeng',...",60750130004001,2015-07-29 05:19:49.241,5,2,2015-07-29