In [1]:
import pandas as pd
import json
import requests
import re
import psycopg2
import glob
import time
import media_mapper as mm

MAPBOX_API_KEY not found.
TWITTER_CONSUMER_KEY not found.
TWITTER_CONSUMER_SECRET not found.
TWITTER_ACCESS_TOKEN not found.
TWITTER_TOKEN_SECRET not found.
INSTAGRAM_CLIENT_ID not found.
INSTAGRAM_CLIENT_SECRET not found.
INSTAGRAM_ACCESS_TOKEN not found.
FLICKR_API_KEY not found.
FLICKR_API_SECRET not found.

#Get Data From JSON File. Put Into Database.

###1. Import Data From FileSource

In [12]:
#time.sleep(2000)
#all the tweet files from one week
tweet_files= glob.glob('../../../../../Desktop/toomanytweets/*json')

In [ ]:
df_alltweets = mm.pipeline.get_mega_dataframe('/Users/christy/Desktop/toomanytweets/*json')

###2. Turn coordinates into lat and long Data. Filter out misc columns.

In [14]:
df = exract_coordinates_from_tweets(df_alltweets)

In [10]:
df = pd.read_csv('data/intermediate_data/jsontweets_in_df.csv', encoding = 'utf-8')

CParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

###2. Format Data to Put in Database

In [ ]:
#strips all puncutation from the text column of a dataframe 
df_ordered = clean_text_for_sql(df_tweets)

###3. Export The DF Into a  SQL Table

In [22]:
df_twitter.to_csv('tweets_cleaned.csv', encoding = 'utf-8', index = False, header=False, if_exists ='append')

#Put DataFrame In SQL and Format It

In [23]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://clwilloughby:christy@localhost:5432/zipfiantwitter')
df_twitter.to_sql("tweetedBIGwk2", engine, if_exists='replace')
#when I do this, NOW THE THING HAS TO BE IN QUOTES. OOPS.

#FORMAT THE CSV IN SQL TO GET COORDINATES

In [24]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()

In [25]:
query = """ SELECT AddGeometryColumn('tweetedBIGwk2','geom',4326,'POINT',2);"""
c.execute(query)
conn.commit()
print 'done!'

done!

In [26]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()
query = """UPDATE "tweetedBIGwk2" SET geom = ST_SetSRID(ST_MakePoint(lons, lats), 4326);"""
c.execute(query)
conn.commit()            
print 'done!'

done!

In [28]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()
query = """SELECT UpdateGeometrySRID('sf_neighb', 'wkb_geometry', 4326);""" 
c.execute(query)
conn.commit() 
print 'done'

done

In [29]:
conn = psycopg2.connect(dbname='zipfiantwitter', user ='clwilloughby', host = '/tmp')
c = conn.cursor()
query = """ SELECT points.*, polys.geoid10
                INTO tweeted_neighb_wk2 
                FROM sf_neighb polys
                JOIN "tweetedBIGwk2" points 
                ON (ST_Within(points.geom,polys.wkb_geometry) AND
                polys.countyfp10 = '075');"""
c.execute(query)
conn.commit()
conn.close()
print 'done!'

done!

###Option 2: Send it to a CSV!

###Commands entered in postgress

```psql
CREATE DATABASE zipfiantwitter
\l```

Things became obnoxious and i changed things:

```sql
CREATE TABLE tweet(
    timestamp_ms bigint,
    text varchar(255),
    lats FLOAT,
    lons FLOAT
    );
    
COPY tweeting FROM '/Users/clwilloughby/Documents/root/repos/media_mapper/map_tests/postgress_exp/data_for_sql.csv' WITH (FORMAT CSV, DELIMETER ',');
```
   ```
   
If I need to change the column type:
```sql
ALTER COLUMN timestamp_ms SET DATA TYPE bigint ;
ALTER COLUMN presales TYPE numeric
```